<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- name space는 BookRepo의 fully qualified name으로 설정한다. -->
<mapper namespace="com.ssafy.ws.model.dao.BookDao">
	<insert id="insert" parameterType="Book">
		INSERT INTO book
		VALUES (#{isbn}, #{title}, #{author}, #{price}, #{content}, #{img});
	</insert>
	<update id="update" parameterType="Book">
		UPDATE book
		SET title=#{title}, author=#{author}, price=#{price}, content=#{content}, img=#{img}
		WHERE isbn=#{isbn};
	</update>
	<delete id="delete" parameterType="String">
		DELETE FROM book
		WHERE isbn=#{isbn};
	</delete>
	<select id="select" resultType="Book" parameterType="String">
		SELECT * FROM book WHERE isbn=#{isbn};
	</select>
	<select id="selectAll" resultType="Book">
		SELECT * FROM book;
	</select>
</mapper>
<!-- 코드작성 -->