<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .is-completed {
      text-decoration: line-through;
    }
  </style>
</head>

<body>
  <div id="app">
    <h1>Todo Application</h1>
    <form @submit.prevent="addTodo">
      <input type="text" v-model="inputText">
      <input type="submit" value="Add">
    </form>

    <ul>
      <li v-for="todo in todos" :key="todo.id">
        <input type="checkbox" v-model="todo.isCompleted">
        <span :class="{ 'is-completed': todo.isCompleted }">{{ todo.text }}</span>
        <button @click="deleteTodo(todo.id)">Delete</button>
      </li>
    </ul>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const { createApp, ref } = Vue

    const app = createApp({
      setup() {
        let id = 0;
        const todos = ref([])
        const inputText = ref("")
        const addTodo = () => {

          if (inputText.value.trim() !== "") {
            const obj = {
              id: Date.now(),
              text: inputText.value,
              isCompleted: false,
            }
            todos.value.push(obj);
            inputText.value = ""
          }
        }
        const deleteTodo = (id)=>{
          todos.value = todos.value.filter(todo => todo.id !== id);
        }
        return {
        todos,
        addTodo,
        inputText,
        deleteTodo
      }
      }
    })

    app.mount('#app')
  </script>
</body>

</html>